$primary-color: #ca0000;

.container {
  background: radial-gradient(ellipse at right bottom, #dc9fad 5%, #b32790 25%, #4d1d63 50%, #030243 100%);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 75%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: calc(5px + 2vmin);
  line-height: 1.5;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  margin:10px 0;
  padding-bottom:10px;
  width:180px;
  color:#78788c;
  border-bottom:3px solid #78788c
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100vw;
  overflow: hidden;
  justify-content: space-between;
}

.contactForm {
  width:340px;
  height:440px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative
}

.input {
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2
}

.input:focus {
  border-bottom:2px solid #78788c
}

.p:before {
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a
}
.button {
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s
}

.button:hover {
  background:#78788c;
  color:#fff
}
